/* Background color for the navigation bar */
.topnav {
    background-color: #ebebeb;
    border-radius: 10px;
    overflow: hidden;
    text-align: end;
    padding: 15px;
}

/* styling links in the nav_bar */
.topnav a {
    color: #000;
    text-align: end;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 16px;
}

/* Change the color of a link item if the user hovers arnd it */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Give current or clicked item diff color */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.home img{
    float: right;
    background-color: #000;
}

.home h2{
    float: left;
    color: #525252;
}

.home_text p{
    float: left;
    color: #525252;
    font-size: 24px;
    width: 80%;
}

.home_text{
    width: 50%;
    text-align: start;
}

.home_img{
    width: 50%;
}

.home{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects_list li{
    padding: 5px;
    font-size: 18px;
}
.projects_list{
    width: 50%;
    justify-content: center;
    align-self: center;
}

.projects_text{
    width: 50%;
    float: left;
    color: #525252;
    font-size: 24px;
    width: 80%;
}

.projects_text h2{
    text-shadow: 4px 4px 4px #aaa;
}