/* Background color for the navigation bar */
.topnav {
    background-color: #ebebeb;
    overflow: hidden;
    text-align: end;
    padding: 15px;
}

/* styling links in the nav_bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }